body {
  margin: 0;
  padding: 0;
  background-image: url("./IMG/dekstop.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(145, 71, 255);
}

.wrapper {
  width: 100%;
}

.box {
  width: 400px;
  background: rgb(28, 28, 28);
  padding: 38px;
  backdrop-filter: blur(3px);
  text-align: center;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 5%;
  color: white;
  font-family: "Century Gothic", sans-serif;
}

@media only screen and (max-width: 767px) {
  body {
    background-image: url("./IMG/mobile.png");
  }
  .box {
    width: 100%;
    padding: 5%;
    margin-top: 15%;
  }
}

@media only screen and (max-width: 1024px) {
  .box {
    width: 320px;
    border-radius: 5%;
  }
}
.box-img {
  border-radius: 70%;
  width: 200px;
  height: 200px;
}

.box h1 {
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}

.box h5 {
  font-size: 20px;
  letter-spacing: 0.5px;
  font-weight: 100;
}

.box p {
  text-align: justify;
}

ul {
  margin: 0;
  padding: 0;
}

.box li {
  display: inline-block;
  margin: 6px;
  list-style: none;
}

.box li a {
  color: white;
  text-decoration: none;
  font-size: 50px;
  transition: all ease-in-out 250;
}

.box li a:hover {
  color: rgba(145, 71, 255);
}
